@model projet_sage_ecommerce.Models.CAdxModel

@{
    
}

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<br />
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Catalogue</title>
</head>
<body>
    <div class="container">
        <div class="row">
            @for (int i = 0; i < Int32.Parse(@ViewData["length"].ToString()); i++)
            {
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card">
                    <img src="data:image/png;base64, @ViewData["blob"+i.ToString()]" class="card-img-top" alt="..." width="250" height="250">
                    <div class="card-body">
                        <h5 class="card-title">@ViewData["des" + i.ToString()]</h5>
                        <p class="card-text">@ViewData["des2" + i.ToString()]</p>
                        @if (Int32.Parse(@ViewData["quantite" + i.ToString()].ToString()) == 0)
                        {
                            <h5><span style="background-color: #ECE8E5;" class="badge">@ViewData["prix" + i.ToString()] €</span> <span style="background-color: #FA3A3A; color: #FFFFFF;" class="badge">Rupture de stock</span></h5>
                        }
                        else
                        {
                            <h5><span style="background-color: #ECE8E5;" class="badge">@ViewData["prix" + i.ToString()] €</span> <span style="background-color: #20c997; color: #FFFFFF;" class="badge">@ViewData["quantite" + i.ToString()] en stock</span></h5>
                        }
                        <!--<a class="btn btn-primary">@Html.ActionLink("Voir plus", "Item", "Home")</a>-->
                        @Html.ActionLink("Voir plus", "Item", "Home", new { id = @ViewData["nom" + i.ToString()] }, "btn btn-primary")
                    </div>
                </div>
                <br />
            </div>
            }
        </div>
    </div>
</body>
</html>
