@model projet_sage_ecommerce.Models.CAdxModel
@{
    ViewBag.Title = "Devis";
}

<!DOCTYPE html>
<div>
    <h1>Panier</h1>
    <hr />

    @Html.ActionLink("Modifier", "", "", new { id = @ViewData["numdevis"] }, new { @class = "btn btn-warning" })


    @Html.ActionLink("Supprimer", "DeleteDevis", "Home", new { id = @ViewData["numdevis"] }, new { @class = "btn btn-danger", @onclick = "return confirm('Souhaitez-vous supprimer le devis ?')" })

    <hr />
    @using (Html.BeginForm("Devis", "Home"))
    {
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    Numéro de devis : @ViewData["numdevis"]
                </div>
                <div class="col-sm">
                    Site de vente : @ViewData["sitevente"]
                </div>
                <div class="col-sm">
                    Site d'expédition : @ViewData["siteexpedition"]
                </div>
            </div>
        </div>

        <div class="mb-3">
            <br />
            <label for="date" class="form-label">Date</label>
            <input type="text" class="form-control" id="date" value="@DateTime.Now.Date.ToString().Substring(0, 10)" aria-describedby="dateHelp" disabled>

            <label for="client" class="form-label">Code client</label>
            <input type="text" class="form-control" id="client" value=@ViewData["client"] aria-describedby="nomHelp">

            <label for="adresse" class="form-label">Adresse</label>
            <input type="text" class="form-control" id="adresse" value=@ViewData["adr_cli"] aria-describedby="adrHelp" disabled>

            <br />
            <label for="commande" class="form-label">Total Articles</label>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nom</th>
                        <th scope="col">D&eacute;signation</th>
                        <th scope="col">Prix unitaire</th>
                        <th scope="col">Quantit&eacute;</th>
                        <th scope="col">Sous-total</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 1; i <= Int32.Parse(@ViewData["count"].ToString()); i++)
                    {
                        <tr>
                            <th scope="row">@i</th>
                            @{
                                String itminput = "itminput" + (i - 1).ToString(); //itminput0
                                String qteinput = "qteinput" + (i - 1).ToString(); //qteinput0
                            }
                            <td>@ViewData["idarticle" + (i - 1).ToString()]<input type="text" value=@ViewData["idarticle" + (i-1).ToString()] name="@itminput" class="invisible"></td>
                            <td>@ViewData["des" + (i - 1).ToString()]</td>
                            <td>@ViewData["prix" + (i - 1).ToString()] €</td>
                            <td><input class="form-control" type="number" value=@ViewData["qte" + (i-1).ToString()] name="@qteinput"></td>
                            <td>@ViewData["sous-total" + (i - 1).ToString()] €</td>
                        </tr>
                    }
                </tbody>
            </table>
            <!--<div style="float: right">
                    <label for="totalc" class="form-label">Total</label>
                    <input type="text" class="form-control" id="totalc" value=@ViewData["sous-total"] aria-describedby="totalcHelp" disabled>
            </div>-->
            <!--<a href="https://localhost:44365/Home/Catalogue" class="btn btn-success">Ajouter un autre article</a>
            <button type="submit" class="btn btn-primary">Mettre à jour le devis</button>-->
        </div>

        <br />

        <!--<div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">CGU</label>
        </div>-->

        Html.ActionLink("Valider", "ResultatCreation", "Home", new { id = ViewData["numdevis"] }, new { @class = "btn btn-primary" });

    }
    @using (Html.BeginForm("CreateCommande", "Home"))
    {
        var localDateTime = DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss").Replace(' ', 'T');
        var dateTimeNow = DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss");
        string statusAll = "";
        string statusDevis = "disabled readonly";
        Session["SQHNUM"] = ViewData["numdevis"];
        <div class="col-auto">
            <label class="visually-hidden" for="autoSizingInput">Date de livraison demandée</label>
            <input type="datetime-local" id="datetime-local" id="autoSizingInput" name="livraisondatedemandee" placeholder="@localDateTime" @statusAll>
            <!--<input type="text" class="form-control" id="autoSizingInput" name="livraisondatedemandee" placeholder="Date de livraison demandée" @statusAll>-->
            <button type="submit" class="btn btn-info">Commander</button>
        </div>
    }

</div>