@model projet_sage_ecommerce.Models.CAdxModel

@{
    ViewBag.Title = "Article";
}
<div class="card mb-3 shadow p-3 mb-5 bg-body rounded text-justify">
    <div class="row g-0">
        <div class="col-md-8">
            <img src="data:image/png;base64, @ViewData["blob"]" alt="Image de l'article" />
        </div>
        <div class="col-md-4">
            <div class="card-body">
                <h2 class="card-title">@ViewData["des"]</h2>
                <h5>
                    <span style="background-color: #ECE8E5;" class="badge">@ViewData["prix"] @ViewData["devise"]</span>
                    <span style="background-color: #20c997; color: #FFFFFF;" class="badge bg-warning text-dark">@ViewData["nom"]</span>

                    @if (Int32.Parse(@ViewData["quantite"].ToString()) == null)
                    {
                        <span style="background-color: #FA3A3A; color: #FFFFFF;" class="badge">Rupture de stock</span>
                    }
                    else
                    {
                        <span style="background-color: #20c997; color: #FFFFFF;" class="badge">@ViewData["quantite"] en stock</span>
                    }
                </h5>


                <p class="card-text text-justify">
                    <h4>Description de l'article</h4>
                    @ViewData["description"]
                </p>
                <button type="button" class="btn btn-primary btn-lg">Acheter</button>
                <button type="button" class="btn bg-secondary btn-lg text-white">Devis</button>
            </div>
        </div>
    </div>
</div>