@model projet_sage_ecommerce.Models.CAdxModel

@{
    ViewBag.Title = "Read";
}



<div class="container">
    @if(@ViewData["nom0"] != null) {
        <h2>Résultat pour @ViewData["recherche"].ToString()</h2>
        <div class="row">

            @for (int i = 0; i < Int32.Parse(@ViewData["length"].ToString()); i++) {
                
                if (ViewData["nom"+ i.ToString()].ToString().Contains(@ViewData["recherche"].ToString())) {
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="card">
                            <img src="data:image/png;base64, @ViewData["blob"+ i.ToString()]" class="card-img-top img-fluid img-thumbnail" alt="img" />
                            <div class="card-body">
                                <h2 class="card-title">@ViewData["des"+ i.ToString()]</h2><!--Nom de larticle-->
                                <p>@ViewData["nom"+ i.ToString()]</p><!--Nom de larticle-->
                                <p>Prix : @ViewData["prix" + i.ToString()] € </p>
                            </div>
                        </div>
                    </div>
                }
                
            }
            </div>
        }
        else {
            <h2>Rechercher un article en particulier</h2>
            <br />
            <p>Rechercher un article dans tout notre catalogue :</p>
            <div class="d-flex">
                @{
                Html.RenderPartial("_RechercheArticle");
                }
            </div>
        }
</div>
