@model projet_sage_ecommerce.Models.CAdxModel

@{
    ViewBag.Title = "Read";
}



<div class="grid-read">
    <div class="container">
        @if(@ViewData["nom0"] != null) {
            <h2>Résultat pour @ViewData["recherche"].ToString()</h2>
            <div class="card-deck"></div>

            for (int i = 0; i < Int32.Parse(@ViewData["length"].ToString()); i++) {
                
                if (ViewData["nom"+ i.ToString()].ToString().Contains(@ViewData["recherche"].ToString())) {
                    <div class="card" style="display:block ruby;width:50%;">
                        <img src="data:image/png;base64, @ViewData["blob"+ i.ToString()]" class="card-img-top img-fluid img-thumbnail"  alt="Veuillez remplir le formulaire" /><!--Image-->
                        <div class="card-body">
                            <h2 class="card-title">@ViewData["des"+ i.ToString()]</h2><!--Nom de larticle-->
                            <p>@ViewData["nom"+ i.ToString()]</p><!--Nom de larticle-->
                            <p>Prix : @ViewData["prix"] @ViewData["devise"+ i.ToString()] </p>
                        </div>
                    </div>
                    <br />
                }
                
            }
        }
        else {
            <h2>Rechercher un article en particulier</h2>
            <br />
            <p>Rechercher un article dans tout notre catalogue :</p>
            <div class="d-flex">
                @{
                Html.RenderPartial("_RechercheArticle");
                }
            </div>
        }


    </div>

</div>
