@model projet_sage_ecommerce.Models.CAdxModel

@{
    ViewBag.Title = "SuiviCommande";
}@if (@ViewData["sitedevente"] == null)
    {

        using (Html.BeginForm())
        {
    <div class="">
        <h1>Suivre une commande en particulier</h1>
        <h4>Numéro de la commande : </h4>
        <div class="d-flex">
            <input class="form-control" type="search" name="order-num" placeholder="Numéro de la commande">
            <div class="input-group-append">
                <button class="btn btn-dark" type="submit">
                    <i class="bi bi-search"></i>
                </button>
            </div>
        </div>
    </div>
        <br />
        <div class="">
            @if (Session["numcommandeSession"] != null)
            {
                <div class="alert alert-secondary" role="alert">
                    <h4 class="alert-heading">Suivez votre dernière commande suivie</h4>
                    <p>Vous avez consulté la commande <strong>N° @Session["numcommandeSession"]</strong> lors de votre précédente navigation dans la page de suivi.</p>
                    <input class="btn btn-dark" type="submit" value="Suivre cette commande" />
                    <hr>
                    <p class="mb-0">Ces données seront supprimées lors de la fermeture de votre session.</p>
                </div>
            }
        </div>
    }
}
<div class="grid-read">
    <div class="result-container">
        @if (ViewData["numcommande"] != null)
        {
            <h1>Suivre la commande N°@ViewData["numcommande"]</h1>
            <p>Site de vente : @ViewData["sitedevente"]</p>
            <p>Numéro de commande : @ViewData["numcommande"]</p>
            <p>Numéro de commande : @Session["numcommandeSession"]</p>
        }
    </div>
</div>